<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="{{ url_for('static', path='css/form.css')}}"
            rel="stylesheet"
        />
        <title>Inicio de sesión</title>
    </head>
    <body>
        <h1>Inicio de sesión</h1>
        <form method="post" action="/auth">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required /><br /><br />
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required /><br /><br />
            <button type="submit">Iniciar sesión</button>
        </form>
        <p id="message"></p>
        <script>
            document
                .getElementById("loginForm")
                .addEventListener("submit", async (event) => {
                    event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

                    const email = document.getElementById("email").value;
                    const id = document.getElementById("id").value;

                    const response = await fetch("/auth", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ email: email, id: id }),
                    });

                    if (response.ok) {
                        window.location.href = "/patient";
                    } else {
                        const errorData = await response.json();
                        console.error(errorData);
                        alert("Error de autenticación");
                    }
                });
        </script>
    </body>
</html>
