<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="{{ url_for('static', path='css/form.css')}}"
            rel="stylesheet"
        />
        <title>Panel de Médico</title>
    </head>
    <body>
        <h1>Bienvenido Dr. {{ physician_name }}</h1>
        <h2>Sus pacientes:</h2>
        <ul id="patientList">
            {% for patient in patients %}
            <li>
                <a href="/patient_registration?id_paciente={{ patient.id }}"
                    >{{ patient.name }}</a
                >
            </li>
            {% endfor %}
        </ul>

        <button id="logoutButton">Cerrar sesión</button>

        <script>
            document
                .getElementById("logoutButton")
                .addEventListener("click", function () {
                    // Lógica de cierre de sesión
                    document.cookie =
                        "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.href = "/login";
                });
        </script>
    </body>
</html>
